@model CommonViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

    <h2>Запоните поля для добавления новой позиции</h2>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post">
            <div class="form-group mb-3">
                <label for="title" class="mb-2">Наименование</label>
                <input asp-for="SeaFood.Title"
                       type="text"
                       class="form-control"
                       id="title"
                       placeholder="Наименование">
            </div>
            <div class="form-group mb-3">
                <label for="Desc" class="mb-2">Описание</label>
                <input asp-for="SeaFood.Discription"
                       type="text"
                       class="form-control"
                       id="Desc"
                       placeholder="Наименование">
            </div>
            <div class="form-group mb-3">
                <label for="weight" class="mb-2">Вес</label>
                <input asp-for="SeaFood.Weight"
                       type="text"
                       class="form-control"
                       id="weight"
                       placeholder="гр.">
            </div>
            <div class="form-group mb-3">
                <label for="ED" class="mb-2">Срок годности</label>
                <input asp-for="SeaFood.ExpirationDate"
                       type="date"
                       class="form-control"
                       id="ED"
                       placeholder="годен до...">
            </div>
            <div class="form-group mb-3">
                <label for="Coast" class="mb-2">Стоимость</label>
                <input asp-for="SeaFood.Coast"
                       type="number"
                       class="form-control"
                       id="Coast"
                       placeholder="тугрики">
            </div>
            <div class="form-group mb-3">
                <label for="Image" class="mb-2">Картинка</label>
                <input asp-for="SeaFood.Image"
                       type="text"
                       class="form-control"
                       id="Image"
                       placeholder="https://example.png">
            </div>
            <button type="submit" class="btn btn-outline-info mt-3">Создать</button>
        </form>
    </div>
    <div class="mt-5">
    @{
        if (Model.ErrorViewModel.Request.Any())
           {
               foreach (var error in Model.ErrorViewModel.Request)
               {
                    <p class="p-3 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-3">
                        @error.ErrorMessage
                    </p>
               }
           }
    }
    </div>
</div>
